# Git
.git
.gitignore

# Python Caches
__pycache__/
*.pyc
*.pyo

# Local DB files
*.db
*.db-journal

# IDE / OS specific
.vscode/
.idea/
.DS_Store

# Virtual Environment
venv/
.env

# Local Logs
*.log
